* {
    font-family: 'Cormorant SC', serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(21, 1, 25);
}

.container {
    position: relative;
    width: 1160px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    transform-style: preserve-3d;
    perspective: 700px;
    margin: auto;
    margin-top: 14rem;
}

.container .box {
    position: relative;
    width: 275px;
    height: 275px;
    background: #000;
    transition: 0.5s;
    transform-style: preserve-3d;
    overflow: hidden;
    margin-right: 15px;
    margin-top: 45px;
}

.container:hover .box {
    transform: rotate(25deg);
}

.container .box:hover~.box {
    transform: rotateY(-25deg);
}

.container .box:hover {
    transform: rotateY(0deg) scale(1.25);
    z-index: 1;
    box-shadow: 0 15px 18px rgba(41, 41, 42, 0.388);
}

.container .box .imgBx {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.container .box .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.container .box .content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    padding: 20px;
    align-items: flex-end;
    box-sizing: border-box;
}

.container .box .content h2 {
    color: #fff;
    transition: 0.5s;
    text-transform: uppercase;
    margin-bottom: 5px;
    font-size: 20px;
    transform: translateY(200px);
    transition-delay: 0.3s;
}

.container .box:hover .content h2 {
    transform: translateY(0px);
}

.container .box .content p {
    color: rgb(255, 255, 255);
    transition: 0.5s;
    font-size: 12px;
    line-height: 16px;
    transform: translateY(200px);
    transition-delay: .4s;
}

.container .box:hover .content p {
    transform: translateY(0);
}